body{
	text-align: left;
	font-size: 14px;
	font-family: Tahoma;
	background: #d2fafb;

}
h1{
	text-align: left;
	font-size: 18px;
	font-family: Verdana;
	color: rgb(35, 42, 134);
	/*float:left;*/
}
h2{
	text-align: left;
	font-size: 26px;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Inconsolata', monospace
	letter-spacing: 2px;
	color:202060; 
	margin-left: 15px;
}
.datos{
	margin-left:15px;
	margin-right:40px;
}

.perfil{
	position: relative;
	float:left;
	width: 15%;
}
.contenido{
	position: relative;
	float:right;
	width: 85%;
}
.descripcion{
	padding: 1px;
	margin: 2%;
}
.quiensoy{
	padding: 5px;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0%;
	background-color:whitesmoke;
}
.formacion{
	padding: 5px;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0%;
	background-color:whitesmoke;
}
.experiencia{
	padding: 5px;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0%;
	background-color:whitesmoke;
}
.portfolio{
	padding: 5px;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0%;
	background-color:whitesmoke;
}
.foto-personal{
	width=150;
	height=150;
	margin: 15px;
}
p.boton{
	width:100px;
	margin:5px 30px;
	padding:5px;
	font-size:16px;
	background-color:whitesmoke;
	color:f1f0cf;
	border:thin;
}